
<% var profile = theme.customize.profile; %>
<% var tagCount = site.tags.filter(function(tag) { return tag.length; }).length; %>
<aside id="profile">
    <div class="inner profile-inner" id="profile-inner">
        <div class="base-info profile-block">
            <img id="avatar" src="<%= ( profile.gravatar ? gravatar(profile.gravatar, 128) : url_for(profile.avatar)) %>" />
            <h2 id="name"><%= profile.author %></h2>
            <h3 id="title"><%= profile.author_title %></h3>
            <span id="location"><i class="fa fa-map-marker"></i><%= profile.location %></span>
            <a id="follow" target="_blank" href="<%= profile.follow %>"><%= __('profile.follow') %></a>
        </div>
        <div class="article-info profile-block">
            <div class="article-info-block">
                <%= site.posts.length %>
                <span><%= (site.posts.length > 1 ? __('profile.posts') : __('profile.post')) %></span>
            </div>
            <div class="article-info-block">
                <%= tagCount %>
                <span><%= (tagCount > 1 ? __('profile.tags') : __('profile.tag')) %></span>
            </div>
        </div>
        <% if(theme.customize.social_links) { %>
        <div class="profile-block social-links">
            <table>
                <tr>
                    <% var tooltipClass = theme.customize.social_link_tooltip === false ? '' : 'class=tooltip'; %>
                    <% for(var i in theme.customize.social_links) { %>
                    <td>
                        <a href="<%- url_for(theme.customize.social_links[i]) %>" target="_blank" title="<%= i %>" <%= tooltipClass %>>
                            <i class="fa fa-<%= i %>"></i>
                        </a>
                    </td>
                    <% } %>
                </tr>
            </table>
        </div>
        <% } %>

        <a href="https://github.com/agehua" class="github-corner" aria-label="View source on Github">
          <svg width="64" height="64" viewBox="0 0 250 250" style="fill:#cba11f; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
            <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
            <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
            <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
          </svg>
        </a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>
    </div>

    <div id='toc-col' class="toc-col">
        <% if (page.toc) { %>
            <div id='toc-wrap' class="toc-wrap">
                <strong class="toc-title">文章目录</strong>
                <%- toc(page.content, {list_number: true}) %>
            </div>
        <% } %>
    </div>
</aside>

<script type="text/javascript">
/*
    滚动函数
    接收三个参数,
        1 接收一个DOM对象
        2 给目标对象切换class
        3 触发的高度 (可选项,如果不指定高度,会将DOM的高度作为触发高度)
*/
function scrollCheck(scrollTarget, toggleClass, scrollHeight){
    document.addEventListener('scroll',function(){
    var currentTop = window.pageYOffset;
        currentTop > (scrollHeight||scrollTarget.clientHeight)
        ?scrollTarget.classList.add(toggleClass)
        :scrollTarget.classList.remove(toggleClass)
    })
}

(function(){
      try {
        document.getElementById("toc-wrap").style.width= document.getElementById("profile-inner").offsetWidth+ "px";
        var introHeader = document.querySelector('.inner.profile-inner').offsetHeight;
        var toc = document.querySelector('.toc-wrap');
        scrollCheck(toc,'toc-fixed',introHeader+40+64);
      }catch(err){

      }
        // var node = document.querySelector('.profile-inner');
        // scrollCheck(node,'profile-inner-fixed',64);
})();
</script>
