<%- partial('common/head') %>


<body>
    <div id="container">
        <%- partial('common/header') %>
        <div class="outer">
            <% if (theme.customize.profile.enabled) { %>
                <%- partial('common/profile', {post: page, cache: !config.relative_link}) %>
            <% } %>
            <section id="main"><%- body %></section>
            <% if (theme.customize.sidebar) { %>
                <%- partial('common/sidebar', null, {cache: !config.relative_link}) %>
            <% } %>
        </div>
        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
        <%- partial('common/scripts') %>

    </div>
    <!-- <script src="http://cdn.maxjia.com/js/particles.min.js"></script> -->
  
  
    <canvas class="fireworks" style="position: fixed; left: 0px; top: 0px; z-index: 1; pointer-events: none; width: 1440px; height: 416px;" width="2880" height="832"></canvas>
    

      <script type="text/javascript" src="/js/anime.min.js"></script>
      <script type="text/javascript" src="/js/firework.js"></script>
</body>
</html>
